form{
   
    margin: 10vh;
   
    padding: 5vh;
    border-radius: 10%;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    
}
.S1{
  
    font-family:  cursive;
    text-align: center;
    font-weight: bold;
    font-size: 5vh;
  
}
span{
    margin: 5vh;

}