
<div class="grid">
    <div class="col">
        <h4 > Name : {{currentUser.name}}</h4>
        <h4 > Email : {{currentUser.email}}</h4>
        <h4 > Gender : {{currentUser.gender}}</h4>
        <h4 > Role : {{currentUser.role}}</h4>
        <h4 > Phone : {{currentUser.phone}}</h4>
        


        <button pButton pRipple type="submit" label="Update"  class="p-button-outlined p-button-rounded"></button>
        <button pButton pRipple type="submit" label="Delete"  class="p-button-outlined p-button-rounded"></button>
        
    </div>
    <div class="col">




 
</div>
</div>
